$header-BackgroundColor: rgba(0, 0, 0, 0.788);
$headerTexts-Color: #ffffff;
$headerActive-Color: #d4a373;
$header-ActiveLink-Color: #a5a5a5;
$header-linksHoversColor: #b9b9b9;
$header-iconColor: rgb(136, 136, 136);

$register-MainBackground-Color: #002429af;
$register-MainInputSection-Color: #003941;
$register-borderColor: rgb(159, 159, 159);
